a {
    text-decoration: none !important;
    color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #495057;
    transition: background-color 5000s ease-in-out 0s;
}


.table-scroll {
    overflow-y: auto;
    min-height: auto;
    max-height: 400px;
}

img {
    object-fit: cover;
}


div.scroll {
    overflow: auto;
}

/*
    Stare cardsy
 */
/*.cardMain{*/
/*    border-radius: 20px;*/
/*    background: #fff;*/
/*    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);*/
/*    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);*/
/*    padding: 40px 50px 40px 50px;*/
/*    cursor: pointer;*/
/*    width: 400px;*/
/*}*/

/*.cardMain:hover{*/
/*    transform: scale(1.05);*/
/*    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);*/
/*}*/

/*
        Kongo Cardsy
 */

.card {
    position: relative;
    width: 300px;
    height: 100px;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    flex-direction: row;
    box-sizing: content-box;
}

.card__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__text {
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    min-width: 150px;
    text-align: center;
    transition: color .5s ease-in-out;
}

.card__text::after {
    content: '';
    position: absolute;
    background: #f1f1f1;
    left: -125px;
    width: 110px;
    bottom: -25px;
    height: 5px;
    transform: rotate(-45deg);
    transition: all 0.5s ease-in-out;
}

.card__text::before {
    content: '';
    position: absolute;
    left: -125px;
    width: 110px;
    top: -25px;
    height: 5px;
    transform: rotate(45deg);
    background: #f1f1f1;
    transition: all 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover .card__text {
    color: rgb(0 86 179);
}

.card:hover .card__text:after, .card:hover .card__text:before {
    background: rgb(0 86 179);
    transform: translateX(calc(100% + 35px));
}

.letter {
    display: inline-block;
    transition: transform .75s ease-out;
}

.card:hover .letter:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
}

.card:hover .letter:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}

.card:hover .letter:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
}

.card:hover .letter:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
}

.card:hover .letter:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
}

.card:hover .letter:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
}

.card:hover .letter:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
}

.card:hover .letter:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
}

.card:hover .letter:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
}

.card:hover .letter:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
}

.card:hover .letter:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
}

.card:hover .letter:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
}

.card:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 86, 179, 0.25);
    transition: all .5s ease-in-out;
    transform: translateX(-100%);
}

.card:hover:after {
    transform: translateX(100%);
}

body {
    background-color: #EDF4FF;
}

.table tbody {
    background-color: #ffffff;
    border-color: #4596FF;
}

.table td, .table th {
    vertical-align: middle;
    text-align: left;
}

.table thead {
    border-color: #4596FF;
}
.table thead th {
    vertical-align: middle;
}